  <footer class="footer">
    <div class="container">
      footer
    </div>
  </footer>
<script src="<%= assetFingerprint('/javascripts/script.js') %>"></script>
<script src="/javascripts/jquery.min.js"></script>
</body>

</html>